body{
    background:#333;
}
.oclock{
    font-size:50px;
    font-family: arial;
    margin:200px auto;
    text-align: center;
    padding:20px;
    color:yellow;
}
.oclock span{
    padding:10px;
    background:#444;
}